<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="example-sidenav">
    <h3 style="text-align: center">Filter</h3>

    <form [formGroup]="selectedValue" (ngSubmit)="handleFilter()">
      <app-genericfilter
        [label]="'Select City'"
        [optionList]="optionList"
        formControlName="selectCity"
      ></app-genericfilter
      ><br />

      <button type="submit" class="btn btn-primary">Filter</button>
    </form>
  </mat-sidenav>
  <app-datatable
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
  >
  </app-datatable>
</mat-sidenav-container>
